@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-color: black;
}

.top-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    color: black;
    width: 100%;
    height: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    margin: 0.25% 0;
}

.interact{
    background: rgb(198,37,255);
    background: linear-gradient(0deg, rgba(198,37,255,1) 0%, rgba(9,9,121,1) 50%, rgba(29,107,254,1) 100%); 
    border-radius: 12px;
    width: 100%;
    height: 850px;
    max-height: 850px;
    overflow: auto;
    margin: 0.25% 0;
}

#dash{
    margin-left: auto;
}

#user{
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    transition: background-color 0.5s;
    border-radius: 12px;
    color:black;
}

#user:hover{
    background-color: rgba(0,0,0,0.2);
}

#user > img{
    height: 20px;
    padding-left: 2px;
    padding-right: 2px;
    width: auto;
}