.grid-container{
    margin: 180px;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    gap: 100px;
    padding: 0px;
}

.menu-button{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 10em;
    height: 4.5em;
    transition: background-color 0.5s, color 0.5s;
}

.menu-button:hover{
    background-color: black;
    color: white;
}

.menu-button > img {
    height: 6rem;
    width: auto;
    
}

.grid-container > a {
    background-color: white;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
  }